@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

* {
  box-sizing: content-box;
}

//**********************
// GENERAL
//**********************

body {
  font-family: 'Press start 2P', 'Lucida Sans Typewriter', 'Lucida Console', monaco, monospace;
  color: #fff;
  background: linear-gradient(-45deg, #002868, #002868, #BF0A30, #BF0A30);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.55);
  overflow: hidden;
}

a {
  color: white;
}

h1 {
  font-size: 3em;
  color: white;
  position: fixed;
  top: 1%;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
}

.button {
  font-size: 1.4em;
  margin-top: 20px;
  color: black;
  background: white;
  text-shadow: none;
  cursor: pointer;
  transition: all 1s;
}

//**********************
// NAVIGATION
//**********************
.nav {
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 15px;
  height: 20px;
  a {
    color: white;
    margin: 0 10px;
  }
}

.span-link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

//**********************
// ABOUT
//**********************
.about-dialog {
  background: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  text-align: left;
  padding: 10px 20px;
  width: 400px;
  position: fixed;
  top: 30px;
  right: 5px;
  &__line {
    margin: 15px 0;
  }
}

//**********************
// TRUMP HEAD
//**********************

.trump-head {
  transition: all 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-property: top, left, width, height;
  z-index: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  #trump-gif {
    height: calc(100vh - 5em);
    width: auto;
    transition: all 500ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-property: top, left, width, height;
  }
}

.trump-head.display {
  position: fixed;
  left: -8%;
  top: 50%;
  transform: translateY(-50%);
  #trump-gif {
    height: auto;
    width: 60vw;
  }
}

//**********************
// DISPLAY TWEET
//**********************

.tweet-display {
  position: fixed;
  right: 6%;
  top: 55%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  .trump-tweet {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
    font-size: 2vw;
    line-height: 1.5em;
    max-height: 70vh;
    width: 50vw;
    overflow: scroll;
    position: relative;
    margin-bottom: 20px;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

//**********************
// INPUT TWEET
//**********************

.input-box {
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  visibility: visible;
  width: 35vw;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  opacity: 1;

  transition: visibility 1s, opacity 1s;

  textarea {
    font-family: 'Press start 2P', 'Lucida Sans Typewriter', 'Lucida Console', monaco, monospace;
    font-size: 1em;
    height: 15vh;
    color: #fff;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.55);
    background: rgba(255, 255, 255, 0.4);
    line-height: 25px;
    padding: 20px 30px;
    outline: 0;
    border: none;
    resize: none;
    outline: none;
    margin-bottom: 20px;
  }
}

.hide {
  visibility: hidden;
  opacity: 0;
}

//**********************
// MEDIA QUERIES
//**********************

@media (max-width: 1000px) {
  body {
    background: linear-gradient(-45deg, #002868, #BF0A30);
    background-size: 100% 100%;
  }

  h1 {
    font-size: 6vh;
  }

  .tweet-display {
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .trump-tweet {
      width: auto;
      font-size: 2vh;
    }
  }

  .trump-head {
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    #trump-gif {
      height: 70vh;
      width: auto
    }
  }

  .trump-head.display {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    #trump-gif {
      height: 200vh;
      width: auto;
    }
  }

  .input-box {
    min-width: 70vw;
    textarea {
      font-size: 1.5vh;
      line-height: 2.5vh;
    }
  }
}

//**********************
// GRADIENT BG
//**********************

@media (min-width: 1000px) {
  @-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @-moz-keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
}

//**********************
// TYPIST
//**********************

.Typist .Cursor {
  display: inline-block;

  &--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
    @keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
    }
  }
}

//**********************
// 8-BIT BUTTON
//**********************

@mixin step1( $width, $color ) {
  box-shadow:
      $width 0 $color,
      -$width 0 $color,
      0 (-$width) $color,
      0 $width $color;
  margin: $width auto;
}
/*@mixin step2( $width, $color, $bgcolor ) {
  box-shadow:
    $width 0 $bgcolor,
    -$width 0 $bgcolor,
    0 (-$width) $bgcolor,
    0 $width $bgcolor,
    2*$width 0 $color,
    -2*$width 0 $color,
    0 (-2*$width) $color,
    0 2*$width $color,
    $width $width $color,
    -$width $width $color,
    $width (-$width) $color,
    -$width (-$width) $color;
}*/
@mixin step2v2( $width, $color, $bgcolor ) {
  box-shadow:
      $width 0 $bgcolor,
      -$width 0 $bgcolor,
      0 (-$width) $bgcolor,
      0 $width $bgcolor,
      2*$width 0 $color,
      -2*$width 0 $color,
      0 (-2*$width) $color,
      0 2*$width $color,
      0 0 0 $width $color;
  margin: 2*$width auto;
}
/*@mixin step3( $width, $color, $bgcolor ) {
  box-shadow:
    $width 0 $bgcolor,
    -$width 0 $bgcolor,
    0 (-$width) $bgcolor,
    0 $width $bgcolor,
    2*$width 0 $bgcolor,
    -2*$width 0 $bgcolor,
    0 (-2*$width) $bgcolor,
    0 2*$width $bgcolor,
    0 0 0 $width $bgcolor,
    3*$width 0 $color,
    -3*$width 0 $color,
    0 3*$width $color,
    0 (-3*$width) $color,
    -2*$width (-$width) $color,
    -$width (-2*$width) $color,
    $width (-2*$width) $color,
    2*$width (-$width) $color,
    2*$width $width $color,
    $width 2*$width $color,
    -$width 2*$width $color,
    -2*$width $width $color;
}*/
@mixin step3v2( $width, $color, $bgcolor ) {
  box-shadow:
      $width 0 $bgcolor,
      -$width 0 $bgcolor,
      0 (-$width) $bgcolor,
      0 $width $bgcolor,
      2*$width 0 $bgcolor,
      -2*$width 0 $bgcolor,
      0 (-2*$width) $bgcolor,
      0 2*$width $bgcolor,
      0 0 0 $width $bgcolor,
      3*$width 0 $color,
      -3*$width 0 $color,
      0 3*$width $color,
      0 (-3*$width) $color,
      0 (-$width) 0 $width $color,
      0 $width 0 $width $color,
      $width 0 0 $width $color,
      -$width 0 0 $width $color;
  margin: 3*$width auto;
}
@mixin step4( $width, $color, $bgcolor ) {
  box-shadow:
      $width 0 $bgcolor,
      -$width 0 $bgcolor,
      0 (-$width) $bgcolor,
      0 $width $bgcolor,
      2*$width 0 $bgcolor,
      -2*$width 0 $bgcolor,
      0 (-2*$width) $bgcolor,
      0 2*$width $bgcolor,
      0 0 0 $width $bgcolor,
      3*$width 0 $bgcolor,
      -3*$width 0 $bgcolor,
      0 3*$width $bgcolor,
      0 (-3*$width) $bgcolor,
      0 (-$width) 0 $width $bgcolor,
      0 $width 0 $width $bgcolor,
      $width 0 0 $width $bgcolor,
      -$width 0 0 $width $bgcolor,
      4*$width 0 $color,
      -4*$width 0 $color,
      0 (-4*$width) $color,
      0 4*$width $color,
      2*$width 0 0 $width $color,
      -2*$width 0 0 $width $color,
      0 2*$width 0 $width $color,
      0 (-2*$width) 0 $width $color,
      0 0 0 2*$width $color;
  margin: 4*$width auto;
}
@mixin other( $width, $color, $bgcolor ) {
  box-shadow:
      4*$width 0 $bgcolor,
      -4*$width 0 $bgcolor,
      0 (-4*$width) $bgcolor,
      0 4*$width $bgcolor,
      $width 0 0 2*$width $bgcolor,
      -$width 0 0 2*$width $bgcolor,
      0 (-$width) 0 2*$width $bgcolor,
      0 $width 0 2*$width $bgcolor,
      5*$width 0 $color,
      -5*$width 0 $color,
      0 (-5*$width) $color,
      0 5*$width $color,
      0 0 0 3*$width $color,
      0 2*$width 0 2*$width $color,
      0 (-2*$width) 0 2*$width $color,
      2*$width 0 0 2*$width $color,
          (-2*$width) 0 0 2*$width $color;
  margin: 5*$width auto;
}
.lvl1 {
  @include other( 4px, orange, white );
  cursor: pointer;
}